__pycache__/
.pytest_cache/
*.pyc
*.pyo
.DS_Store
.env
.venv/
venv/
data/
experiments/
results/visuals/
results/paired/
results/uefb/
results/unpaired/
*.pth
*.pt
*.ckpt
*.zip
*.tar
*.tar.gz
wandb/
tensorboard/
